@model IEnumerable<LibraryManager.Web.Models.Book>

    <h2>Lista de livros</h2>

<a class="btn btn-primary" href="/Books/Create">Adicionar Livro</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Ano</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>